<footer>


  <div>
    <a href="" style="color: black;
          text-decoration: none;">
      <img th:src="@{/img/houses.svg}" alt="" />Nuestros barrios</a>
  </div>

  <div>
    <a href="" style="color: black;
        text-decoration: none;">
      <img th:src="@{/img/instagram.svg}" alt="" />
      Instagram
    </a>
  </div>

  <div>
    <a href="" style="color: black;
        text-decoration: none;">
      <img th:src="@{/img/twitter.svg}" alt="" />
      Twitter
    </a>
  </div>

  <div>
    <a href="" style="color: black;
        text-decoration: none;">
      <img th:src="@{/img/facebook.svg}" alt="" />
      Facebook
    </a>
  </div>

  <div>
    <a href="" style="color: black;
        text-decoration: none;">
      <img th:src="@{/img/headset.svg}" alt="" />
      Soporte
    </a>
  </div>

  <div>
    <p>&copy; 2023 Equipo Ñ    .</p>
  </div>


  
  <div>
    <a href="/" style="color: black;
      text-decoration: none;"> <img th:src="@{/img/CORLINK-2-sf.png}" style="height: 60px; margin-left: 20px;" alt="Home Service">
  </div>

</footer>
