<footer>
  <div>
    <img th:src="@{/img/HomeService.jpg}" style="width: 60px;" alt="Home Service">
  </div>
  <div>

      <a href="/" style="color: black;
      text-decoration: none;">
        <img th:src="@{/img/house-door-fill.svg}" alt="" />Home</a>
    </div>
    <div>


          <a href="" style="color: black;
          text-decoration: none;">
            <img th:src="@{/img/houses.svg}" alt="" />Nuestros barrios</a>
        </a>

  </div>
  <div>

        <a href="" style="color: black;
        text-decoration: none;">
          <img th:src="@{/img/envelope.svg}" alt="" />
          Contacto
        </a>
    </div>
      <div>
        <a href="" style="color: black;
        text-decoration: none;">
          <img th:src="@{/img/headset.svg}" alt="" />
          Soporte
        </a>
      </div>

    </div>
    <div>
    <p>&copy; 2023 Equipo Ñ - Proyecto Final EGG - Web APP Servicios</p>
  </div>
</footer>
