<nav>
  <div>
    <!-- Título de la aplicación -->
    <a th:href="@{/}"><img src="/img/CORLINK-2-sf.png" alt="logo" height="100px" /></a>
  </div>

  <!-- Buscador
  <div class="nav_search">
    <form th:action="@{/search}" method="POST">
      <input type="text" name="search" placeholder="Buscador" />
      <button type="submit">Search</button>
    </form>
  </div  >  -->

  <!-- Opciones de Login y Registro -->
  <!-- ANTES: class="nav_guest"-->
  <div th:unless="${session.usuariosession != null}" class="nav_guest">
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/registrar}">Registrarse</a>
  </div>

  <!-- Lista desplegable cuando el usuario está logeado -->
  <!-- ANTES: class="nav_dropdown"-->
  <div th:if="${session.usuariosession != null}" class="nav-derecha">
    <!-- Botón para desplegar el menú -->

    <div th:text="${'Hola ' + session.usuariosession.nombre }" style="margin: 10px; font-weight: 600"></div>

    <!--
      <a th:href="@{/transaccion/lista}">
        <div th:if="${notificaciones != null && notificaciones != 0}" th:text="${notificaciones}"
        style="border: 1px solid green; color: white; padding: 5px; text-align: center;
        width: 30px; height: 30px; background-color: green; border-radius: 100%;
        font-weight: 700;">
        </div>
      </a>
    -->
    <button class="nav_btn">
      <img
        th:if="${session.usuariosession.imagen != null}"
        th:src="@{/imagen/perfil/__${session.usuariosession.id}__}"
        alt="mdo"
        width="42"
        height="42"
        class="nav_img_perfil" />
    </button>

    <div class="nav_dropdown-content" id="abrir">
      <a sec:authorize="hasAnyRole('USER','PROVEEDOR')" th:href="@{/transaccion/lista}">Trabajos</a>
      <a sec:authorize="hasRole('USER')" th:href="@{/proveedor/lista}">Proveedores</a>
      <a th:href="@{/perfil}">Perfil</a>
      <a th:href="@{/logout}">Cerrar sesión</a>
    </div>
  </div>
</nav>

<!--
<header>
   Título de la aplicación
  <a th:href="@{/}"><img src="/img/CORLINK-2-sf.png" alt="logo" /></a>

   Buscador

   <form th:action="@{/search}" method="POST">
      <input type="text" name="search" placeholder="Buscador" />
      <button type="submit">Search</button>
    </form>

  <nav>
    <div>
       Opciones de Login y Registro
      <div th:unless="${session.usuariosession != null}">
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/registrar}">Registrarse</a>
      </div>

      Lista desplegable cuando el usuario está logeado
      <div th:if="${session.usuariosession != null}" class="nav_dropdown">
         Botón para desplegar el menú
        <div class="nav-hola">
        <p th:text="${'Hola ' + session.usuariosession.nombre }"></p>
        <img class="nav-img1" id="btn"
          th:if="${session.usuariosession.imagen != null}"
          th:src="@{/imagen/perfil/${session.usuariosession.id}}"
          alt="mdo"
        />
        <img class="nav-img1" id="btn"
          th:if="${session.usuariosession.imagen == null}"
          src="/img/sinImg.png"
          alt="mdo"
        />
      </div>
        <div class="nav_dropdown-content" id="abrir">
          <a th:href="@{/perfil}">Perfil</a>
          <a th:href="@{/logout}">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </nav>
</header>-->
