/*ACA VA TODO EL ESTILO DEL INDEX*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Urbanist&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Urbanist', sans-serif;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

h1 {
  text-align: center;
}
body {
  min-height: 100vh;
  position: relative;

  height: 100%;
  /*width: 100%;*/
}

/*Diego:esta clase main no la hice yo,no estaba en el index pero si en el css*/
.cont-principal {
  min-height: 100%;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 100px;
  /*width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

.header {
  background-image: url(img/fondo);
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: end;
}

.logo {
  width: 40%;
  margin: auto;
}
.form-registro {
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-arround;
  align-items: center;
  height: 50px;
  z-index: 2;

  position: fixed;
  bottom: 0;
  width: 100%;
}

.boton {
  background-color: #ffcb00;
  box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.36);
}

.boton:hover {
  background-color: #ffe479;
}

.boton:active {
  box-shadow: none;
}

.contenedor {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.principal {
  flex: 5;
  max-height: 1500px;
}
.costado {
  flex: 1;
}

.boton {
  background-color: rgb(0, 140, 255);
  font-weight: 600;
  padding: 6px;
  font-size: 12pt;
  border-radius: 5px;
  border: none;
}

select {
  font-size: 12pt;
  padding: 5px;
  border-radius: 5px;
}

input {
  padding: 5px;
  font-size: 12pt;
  border-radius: 5px;
  border: 1px solid black;
  width: 350px;
}
.campo {
  margin: 10px;
  text-align: center;
}

