
#campo-proveedor {
  display: none;
}

#campo-residente {
  display: block;
}

.soy-proveedor {
  color: rgb(160, 160, 160);
  background-color:  rgb(220, 220, 220);
  font-weight: 500;
  padding: 5px;
  font-size: 12pt;
  border-radius: 50px;
  border: 1px solid transparent;
  width: 150px;

  display: inline-block;
  transition: all 300ms ease;
  letter-spacing: 0.5px;
}

.soy-proveedor:hover {
  background-color: rgb(220, 220, 220);
}

.soy-residente {
  color: black;

  background-color: white;
  font-weight: 600;
  padding: 5px;
  font-size: 12pt;
  border-radius: 50px;
  border: 1px solid black;
  width: 150px;

  display: inline-block;
  transition: all 300ms ease;
  letter-spacing: 0.5px;

}


.fondoimg {
  background-image: url(/img/fondo_05opac.png);
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 75vh;

  /* Ajusta el tamaño de la imagen para cubrir completamente el fondo */
}
.campo {
  margin: 10px;
  text-align: center;
}


.soy-residente:hover {
  background-color: rgb(220, 220, 220);
}

/*
.curveado{
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.curveado img{
  width: 100%;
}
*/

.boton {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  padding: 15px 25px;
  color: #fff;
  background: #328cbd;
  border-radius: 50px;
  margin-bottom: 40px;
  border: 2px solid transparent;
  transition: all 300ms ease;
  letter-spacing: 0.5px; /*Para separar un poco las letras*/
}

.boton:hover {
  background:  #599bbf; /*Fondo transparente*/
  border: 2px solid #fff;
}

.boton:active {
  box-shadow: none;
}


select {
  font-size: 12pt;
  padding: 7px;

  border-radius: 15px;
}


input {
  padding: 7px;
  font-size: 12pt;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #fff;
  width: 350px;

}
