/*ACA VAN SOLO NAVBAR Y FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Urbanist&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
}

header {
  width: inherit;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6b639;
  padding-top: 10px;

  & img {
    width: 200px;
  }

  & nav {
    & div {
      &:nth-child(1) {
        display: flex;
        & a {
          margin-right: 20px;
          font-size: 1.6rem;
          text-decoration: none;
          font-weight: 600;
          &:hover {
            color: #8f4711;
          }
        }
      }
      .nav-hola {
        display: flex;
        position: relative;
        & p {
          font-size: 1.6rem;
          margin-right: 40px;
          font-weight: 600;
          color: white;
        }
        .nav-img1 {
          position: absolute;
          top: -6px;
          right: -0.3vw;
          width: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}

.nav_dropdown-content {
  width: 150px;
  height: 70px;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #de9822;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation-duration: 3s;
  opacity: 0;
  z-index: 2;
  & a {
    color: white;
  }
}

.abrir {
  opacity: 1;
  animation: 200ms desplazar linear;
}

@keyframes desplazar {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
