@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Urbanist&display=swap');
/* ACA VA SOLO FOOTER Y NAVBAR
PERO TIENE ESTILOS DE REGISTRO
Y LOGUIN Y NO PUDE SEPARARLOS A TODOS*/
* {
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Urbanist', sans-serif;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

h1 {
  text-align: center;
}

.header {
  background-image: url(img/fondo);
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: end;
}

.logo {
  width: 40%;
  margin: auto;
}
.form-registro {
  position: relative;
}

/*   FOOTER Y NAV */
.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10pt;
  width: 100%;
  background-color: white;
  padding: 10px;
  bottom: 0;
}

footer {
  text-align: center;
  background-color: white;
  color: white;
  }

nav {
  display: flex;
  justify-content: space-between;
  text-align: right;
  align-items: center;
  position: relative;
  max-height: 5rem;
  text-decoration: none;
  background-color: rgb(255, 191, 0);
  border-radius: 3px;
  /*box-shadow: 1em 1em 2em rgba(165, 164, 164, 0.761), -1em -1em 2em rgba(192, 184, 184, 0.736), inset 0 0 0 transparent,
    inset 0 0 0 transparent;*/
}
.nav_titulo {
  margin: none;
  min-height: 40px;
  text-align: start;
  padding-left: 5px;
}
.nav_titulo a {
  text-align: left;
  color: #000000;
  text-decoration: none;
  font-size: 2.5rem;
  text-shadow: 5px 5px 6px rgb(69, 69, 69);
}
.nav_search {
  display: flex;
  align-items: center;
  max-height: 3rem;
}
.nav_search input {
  background-color: transparent;
  box-shadow: 1px 1px 8px rgb(46, 45, 45);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  min-height: 25px;
}
::placeholder {
  color: #000000;
  font-size: 16px; /* Cambia el color a gris claro */
}

.nav_img_perfil {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  align-items: center;
  border: 1px solid #050505ac;
}
.nav_search button {
  background-color: transparent;
  box-shadow: 1px 1px 8px rgb(51, 51, 51);
  border-radius: 5px;
  border: 1.4px solid rgb(0, 0, 0);
  min-height: 31px;
  color: rgb(49, 49, 49);
  padding: 0px 5px;
}
.nav_guest {
  display: flex;
  text-decoration: none;
  gap: 20px;
  color: rgb(8, 8, 8);
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  padding-right: 10px;
}
.nav_guest a {
  display: flex;
  text-decoration: none;
  gap: 20px;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgb(156, 156, 156);
  padding-right: 10px;
}
.nav_dropdown {
  position: relative;
  display: inline-block;
  padding-right: 10px;
}
.nav_dropdown span {
  display: flex;
  color: #f1f1f1;
  padding-bottom: 10px;
  flex-direction: row;
  font-size: 1, 5rem;
}

.nav_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-family: fantasy;
  right: 10px;
  top: 100px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.nav_dropdown-content a:hover {
  background-color: #f1f1f1;
}

.nav_dropdown:hover .dropdown-content {
  display: block;
}
.nav_btn {
  border: none;
  background-color: transparent;

  font-size: 20px;
}

/*FIN NAVBAR Y FOOTER */

.contenedor {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.principal {
  flex: 5;
  max-height: 1500px;
}
.costado {
  flex: 1;
}

@media (max-width: 768px) {
  .contenido .info h1 {
    font-size: 35px;
  }
}

/*@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Urbanist&display=swap");

{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100%;
}
header {
  width: inherit;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6b639;
  padding-top: 10px;

  & img {
    width: 200px;
  }

  & nav {
    & div {
      &:nth-child(1) {
        display: flex;
        & a {
          margin-right: 20px;
          font-size: 1.6rem;
          text-decoration: none;
          font-weight: 600;
          &:hover {
            color: #8f4711;
          }
        }
      }
      .nav-hola {
        display: flex;
        position: relative;
        & p {
          font-size: 1.6rem;
          margin-right: 40px;
          font-weight: 600;
          color: white;
        }
        .nav-img1 {
          position: absolute;
          top: -6px;
          right: -0.3vw;
          width: 50px;
          border-radius: 50%;

        }
      }
    }
  }
}
.nav_dropdown-content {
  width: 150px;
  height: 70px;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #de9822;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation-duration: 3s;
  opacity: 0;
  z-index: 2;
  & a {
    color: white;
  }
}

.abrir {
  opacity: 1;
  animation: 200ms desplazar linear;
}
@keyframes desplazar {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}*/
