
* {
text-decoration: none;
  }

body{
    height: 100%;
    background-image: url(/img/portadawavy.png);
    background-repeat: no-repeat;

    background-size: contain;

}
.cards{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
   
}
 .card_presupuesto{
background-color: rgb(254, 171, 119);
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
padding: 30px;
height: 30vw;
border-radius: 10px;
padding: 50px;
 & select {
        font-size: 12pt;
        padding: 5px;
        border-radius: 5px;
      }
    

 }
.campo_input input{
    padding: 5px;
    font-size: 12pt;
    border-radius: 5px;
    border: 1px solid black;
    width: 350px;
}
.boton {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 15px;
    color: #fff;
    background: #4897c3;
    border-radius: 50px;
    margin-bottom: 40px;
    border: 2px solid transparent;
    transition: all 300ms ease;

    letter-spacing: 0.5px; /*Para separar un poco las letras*/

  

}
.boton:hover {
    background: transparent; /*Fondo transparente*/
    border: 2px solid #fff;
  }

.boton2{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 15px;
    color: #fff;
    background: #c34848;
    border-radius: 50px;
    margin-bottom: 40px;
    border: 2px solid transparent;
    transition: all 300ms ease;

    letter-spacing: 0.5px; /*Para separar un poco las letras*/

  
  }
  
  .boton2:hover {
    background: transparent; /*Fondo transparente*/
    border: 2px solid #fff;
  }
  .campo {
    margin: 10px;
    text-align: center;
  }

.comentarios{
    display: flex;
    list-style: none;
 
}
.presupuesto{
font-size: 12px;
gap: 15px;
align-items: center;
display: flex;
flex-direction: column;
}