<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calificar servicio</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <!-- Usar th:href para resolver la URL del CSS -->
    <script th:src="@{/js/Scripts.js}"></script>
    <!-- Usar th:src para resolver la URL del script JS -->

    <style>


.estrellas {
  font-size: 30px;
  cursor: pointer;
}

.estrella {
  display: inline-block;
  margin: 0 5px;
  color: #ccc;
}

.estrella:hover,
.estrella:hover ~ .estrella {
  color: #ffdd00;
}

.calificacion {
  font-size: 18px;
  margin-top: 10px;
}

    </style>
  </head>

  <body>
    <div class="calificacion">
      Calificación:
      <span class="estrellas">
        <span class="estrella" onclick="calificar(5)">★</span>
        <span class="estrella" onclick="calificar(4)">★</span>
        <span class="estrella" onclick="calificar(3)">★</span>
        <span class="estrella" onclick="calificar(2)">★</span>
        <span class="estrella" onclick="calificar(1)">★</span>
      </span>
    </div>
    <div class="campo">
      <textarea name="comentario" placeholder="Ingrese su comentario" th:value="${comentario}" style="width: 300px; height: 150px; font-size: 14pt;"></textarea>
    </div>
    <script>
      var calificacion = 0;

      function calificar(valor) {
        calificacion = valor;
        actualizarCalificacion();
      }

      function actualizarCalificacion() {
        var mensaje = 'Calificación: ' + calificacion + ' estrella(s)';
        document.querySelector('.calificacion').innerText = mensaje;
      }
    </script>
  </body>
</html>
