<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calificación con Estrellas</title>
    <link rel="stylesheet" th:href="@{/css/calificar.css}" />
  </head>
  <body>
    <div class="calificacion">
      Calificación:
      <span class="estrellas">
        <span class="estrella" onclick="calificar(5)">★</span>
        <span class="estrella" onclick="calificar(4)">★</span>
        <span class="estrella" onclick="calificar(3)">★</span>
        <span class="estrella" onclick="calificar(2)">★</span>
        <span class="estrella" onclick="calificar(1)">★</span>
      </span>
    </div>

    <div>
      <form th:action="@{/transacciones/finalizar/__${transaccion.id}__}" method="POST" enctype="multipart/form-data">
        <input type="radio" id="1" name="calificacion" value="1" />
        <label for="1">1</label>
        <br />
        <input type="radio" id="2" name="calificacion" value="2" />
        <label for="2">2</label>
        <br />
        <input type="radio" id="3" name="calificacion" value="3" />
        <label for="3">3</label>
        <br />
        <input type="radio" id="4" name="calificacion" value="4" />
        <label for="4">4</label>
        <br />
        <input type="radio" id="5" name="calificacion" value="5" />
        <label for="5">5</label>

        <div class="campo">
          <textarea name="comentario" placeholder="Comentario" rows="10" cols="40"></textarea>
        </div>

        <div class="campo">
          <button type="submit" class="boton">Enviar el Comentario y la calificación</button>
        </div>
      </form>
    </div>

    <script>
      var calificacion = 0;

      function calificar(valor) {
        calificacion = valor;
        actualizarCalificacion();
      }

      function actualizarCalificacion() {
        var mensaje = 'Calificación: ' + calificacion + ' estrella(s)';
        document.querySelector('.calificacion').innerText = mensaje;
      }
    </script>
  </body>
</html>
