<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calificación con Estrellas</title>
    <link rel="stylesheet" th:href="@{/css/calificar.css}" />
  </head>
  <body>
    <form th:action="@{/transaccion/finalizar/__${transaccion.id}__}" method="POST" enctype="multipart/form-data">
      <div class="calificacion">
        Calificación:
        <span class="estrellas">
          <span class="estrella" onclick="calificar(5)">★</span>
          <span class="estrella" onclick="calificar(4)">★</span>
          <span class="estrella" onclick="calificar(3)">★</span>
          <span class="estrella" onclick="calificar(2)">★</span>
          <span class="estrella" onclick="calificar(1)">★</span>
        </span>
        <input type="hidden" th:name="calificacion" th:value="${calificacion}" />
      </div>

      <div class="campo">
        <textarea name="comentario" placeholder="Comentario" rows="10" cols="40"></textarea>
      </div>

      <div class="campo">
        <button type="submit" class="boton" onclick="enviarFormulario()">Enviar el Comentario y la calificación</button>
      </div>
    </form>

    <script>
      var calificacion = 0;

      function calificar(valor) {
        calificacion = valor;
        actualizarCalificacion();
      }

      function actualizarCalificacion() {
        var mensaje = 'Calificación: ' + calificacion + ' estrella(s)';
        document.querySelector('.calificacion').innerText = mensaje;
        // Actualizar el valor del campo oculto
        document.querySelector('input[name="calificacion"]').value = calificacion;
      }
    </script>
  </body>
</html>
