<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/error.css}" />
  </head>
  <body>
    <h1 class="error-header">
      Error
      <span th:text="${codigo}"></span>
    </h1>
    <p class="error-message" th:text="${mensaje}"></p>
  </body>
</html>
