<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Corlink</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="icon" th:href="@{/img/tools.svg}" type="image/x-icon" />
  </head>

  <body>

    <main class="cont-principal">

      <div class="wrp">
      <nav th:replace="/fragments/navbar :: nav"></nav>

        <div class="portada">
          <div class="contenido">
            <div class="info">
              <h1>El servicio que necesitás para tu hogar</h1>
              <a href="#">Contactar</a>
            </div>
          </div>

          <div class="curveado">
            <img src="img/img2.svg" />
          </div>
        </div>

        <!--SECCION JORGE-->

      </div>





      
    </main>
  </body>
  <footer th:replace="/fragments/footer :: footer"></footer>
</html>
