<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Corlink</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<link rel="icon" th:href="@{/img/tools.svg}" type="image/x-icon" />
	<script th:src="@{/js/scripts.js}"></script>

	<!-- Estilos para carrousel de comentarios -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

	<script>
		var cantidadA = 0;
		var cantidadE = 0;
		var cantidadC = 0;
	</script>
</head>

<nav th:replace="~{/fragments/navbar :: nav}"></nav>

<body>
	<main class="cont-principal">


		<div class="estados">
			<a th:href="@{/transaccion/lista}">
				<div id="aguar" class="pendiente" style="display: none;">
					<div id="aguarC" style="display: none;"></div>
					<div>Tiene un trabajo pendiente de aceptacion</div>
				</div>
			</a>
			<a th:href="@{/transaccion/lista}">
			<div id="ejec" class="pendiente" style="display: none;">
				<span id="ejecC" style="display: none;"></span>
				<div>Tiene Trabajo en ejecucion</div>
			</div>
			</a>
			<a th:href="@{/transaccion/lista}">
			<div id="calif" class="pendiente" style="display: none;">
				<span id="califC" style="display: none;"></span>
				<div> Tiene pendiente una calificacion</div>
			</div>
			</a>
		</div>


		<div th:if="${session.usuariosession != null}">
			<div th:each="transaccionU : ${transaccionUsuario}">
				<script th:inline="javascript">

					var proveedor = [[${ session.usuariosession.rol.descripcion == 'Proveedor' }]];
					var aguardando = [[${ transaccionU.estado.descripcion == 'Pendiente' }]];
					var ejecucion = [[${ transaccionU.estado.descripcion == 'Aceptado' }]];
					var finalizado = [[${ transaccionU.estado.descripcion == 'Finalizado' }]];
					var cancelado = [[${ transaccionU.estado.descripcion == 'Cancelado' }]];
					var calificacion = [[${ transaccionU.calificacion == null }]];

					if (aguardando) {
						cantidadA++;
						var uno = document.getElementById('aguar');
						uno.style.display = '';

						if (cantidadA != 1) {

							var unoC = document.getElementById('aguarC');
							unoC.innerText = cantidadA;
							unoC.style.display = '';
						}
					}
					if (ejecucion) {
						cantidadE++;
						var dos = document.getElementById('ejec');
						dos.style.display = '';

						if (cantidadE != 1) {
							var dosC = document.getElementById('ejecC');
							dosC.innerText = cantidadE;
							dosC.style.display = '';
						}
					}
					if (calificacion & !proveedor & finalizado & !cancelado) {
						cantidadC++;
						var tres = document.getElementById('calif');
						tres.style.display = '';

						if (cantidadC != 1) {
							var tresC = document.getElementById('califC');
							tresC.innerText = cantidadC;
							tresC.style.display = '';
						}
					}

				</script>
			</div>

		</div>


		<div th:replace="~{fragments/alert :: div}"></div>

		<div class="portada">
			<div class="contenido">
				<div class="info">
					<h1>El servicio que necesitás para tu hogar</h1>
					<a th:if="${session.usuariosession == null}" th:href="@{/registrar}">Contactar</a>
				</div>
			</div>
		</div>
		<!--SECCION JORGE-->
		<!--Carousel de comentarios-->
		<div class="owl-carousel owl-theme" style="margin-bottom: 20px">
			<div th:each="transaccion : ${transacciones}" th:if="${transaccion.calificacion != null}">

				<div class="item">
					<div class="card mx-2">
						<div style="text-align: center">
							<div class="star" th:if="${transaccion.calificacion == 1}">★</div>
							<div class="star" th:if="${transaccion.calificacion == 2}">★★</div>
							<div class="star" th:if="${transaccion.calificacion == 3}">★★★</div>
							<div class="star" th:if="${transaccion.calificacion == 4}">★★★★</div>
							<div class="star" th:if="${transaccion.calificacion == 5}">★★★★★</div>
						</div>
						<div class="card-body">
							<h5 class="card-title" style="text-align: center; font-size: 12pt"
								th:text="${transaccion.proveedor.usuario.nombre}"></h5>
							<p class="card-text" style="padding-top: 10px" th:text="${transaccion.comentario}">

							</p>
						</div>
					</div>
				</div>

			</div>
			<!--Fin Carousel de comentarios-->
		</div>

		</div>
	</main>

	<!-- Scripts para manejo de carrousel de comentarios -->
	<!-- jQuery y Owl Carousel JS -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				items: 5, // Muestra 5 tarjetas a la vez
				loop: true, // Hace que el carrusel sea infinito
				margin: 10,
				autoplay: true,
				autoplayTimeout: 2000, // tiempo en milisegundos del cambio de tarjetas
				autoplayHoverPause: true
			});
		});




	</script>
</body>
<footer th:replace="~{/fragments/footer :: footer}"></footer>

</html>
