<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="/fragments/head :: head "> </head>

<style>
	*{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.campo {
		margin: 10px;
		text-align: center;
	}
	table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 5px;
        }

        th {
            padding: 1px;
            border-bottom: 2px solid black;
        }
		td {
			text-align: center;
			height: 50px;
		}
</style>

<body>
	<nav th:replace="fragments/navbar :: nav"> </nav>

	<main>

		<div>
			<h1 class="campo">LISTA DE USUARIOS REGISTRADOS</h1>

			<table>
				<thead>
					<tr>
						<th scope="col" style="border: none; width: 50px; height: 50px; padding: 0;"></th>
						<th scope="col">Id del Usuario</th>
						<th scope="col">Nombre Usuario</th>
						<th scope="col">Barrio</th>
						<th scope="col">Rol</th>

					</tr>
				</thead>
				<tbody th:each="usuario : ${usuarios}">
					<tr>

						<td <a><img th:if="${usuario.imagen != null}" th:src="@{/imagen/perfil/__${usuario.id}__}"
							width="50px" style="text-align: center;"></a>
						<a><img th:if="${usuario.imagen == null}" src="../static/images/sin.png" width="50px" style="text-align: center;"></a></td>

						<td scope="row" th:text="${usuario.id}"></th>

						<td th:text="${usuario.nombre}"></td>

						<td th:text="${usuario.barrio}"></td>

						<td th:text="${usuario.rol}"></td>

					</tr>

				</tbody>
			</table>



	</main>
</body>

</html>
