<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <!-- Usar th:href para resolver la URL del CSS -->
  <script th:src="@{/js/Scripts.js}"></script>
  <!-- Usar th:src para resolver la URL del script JS -->


</head>

<body>

  <nav th:replace="fragments/navbar :: nav"></nav>

  <div style="margin-top: 100px;">
    <h2 style="text-align: center;">Login</h2>
    <form th:action="@{/logincheck}" method="post">
      <div class="campo">
        <label for="email">Email:</label>
        <input style="width: 300px;" type="email" name="email" th:value="${email}" required autofocus />
      </div>

      <div class="campo">
        <label for="password">Password:</label>
        <input style="width: 300px;" type="password" name="password" required />
      </div>

      <div class="campo">
        <label for="recuerdame">Recuerdame</label>
        <input style="width: 15px" type="checkbox" name="recuerdame">
      </div>
      <div class="campo">
        <button class="boton" type="submit">Login</button>
      </div>
    </form>
  </div>

</body>

<footer th:replace="/fragments/footer :: footer "></footer>

</html>
