<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head "> </head>

<body>
	<nav th:replace="fragments/navbar :: nav"> </nav>

	<h1 class="campo">REGISTRAR USUARIO</h1>
	<form th:action="@{/registro}" method="POST" enctype="multipart/form-data">

		<!--
			String email
			String Nombre
			String password
			Rol Rol
			Barrio Barrio
			Imagen foto
		-->

		<div class="campo">
			<input type="text" name="nombre" placeholder="nombre del usuario" th:value="${nombre}">
		</div>

		<div class="campo">
			<input type="email" name="email" placeholder="E-Mail" th:value="${email}">
		</div>

		<div class="campo">
			<input type="file" name="archivo">
		</div>

		<div class="campo">
			<input type="password" name="password" placeholder="contraseña" th:value="${password}">
		</div>
		<div class="campo">
			<input type="password" name="password2" placeholder="repetir contraseña" th:value="${password2}">
		</div>

		<div class="campo">
			<select name="barrio">
				<option value="">Seleccionar Barrio</option>
				<option th:each="barrio : ${barrios}" th:value="${barrio.id}" th:text="${barrio.nombre}" />
			</select>
		</div>

		<div class="campo">
			<button type="submit" class="boton">Registrarme</button>
		</div>
	</form>

</body>

<footer th:replace="/fragments/footer :: footer "></footer>

</html>
