<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Servicios</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/registro.css}" />
    <link rel="icon" th:href="@{/img/tools.svg}" type="image/x-icon" />
  </head>

  <body>
    <nav th:replace="~{fragments/navbar :: nav}"></nav>

    <div style="min-height: 75vh">
      <div class="encabezado">
        <a th:href="@{/}"><button>Volver</button></a>
        <div></div>
        <h1>LISTA DE SERVICIOS REGISTRADOS</h1>
        <div></div>
        <button class="boton" style="margin-bottom: 0">
          <a th:href="@{/servicio/registrar}" style="color: white">Registrar Servicio</a>
        </button>
      </div>

      <div>
        <table>
          <thead>
            <tr>
              <th scope="col" style="border: none; width: 50px; height: 50px; padding: 0">Imagen</th>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody th:each="servicio : ${servicios}">
            <tr>
              <td scope="row">
                <div th:if="${servicio.imagen != null}">
                  <a th:href="@{/imagen/servicio/__${servicio.id}__}">
                    <img
                      th:src="@{/imagen/servicio/__${servicio.id}__}"
                      width="50px"
                      style="text-align: center"
                      alt="mdo" />
                  </a>
                </div>
              </td>
              <td scope="row" th:text="${servicio.id}" sec:authorize="hasRole('ADMIN')"></td>
              <td scope="row" th:text="${servicio.nombre}"></td>
              <td scope="row" th:text="${servicio.descripcion}"></td>
              <td scope="row">
                <button>
                  <a th:href="@{/servicio/cambiarEstado/__${servicio.id}__}">
                    <img th:if="${servicio.alta}" th:src="@{/img/true.png}" width="20px" alt="true" />
                    <img th:if="${!servicio.alta}" th:src="@{/img/false.png}" width="20px" alt="false" />
                  </a>
                </button>
              </td>
              <td scope="row">
                <button><a th:href="@{/servicio/modificar/__${servicio.id}__}">Modificar</a></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>

    <script th:src="@{/js/scripts.js}"></script>
  </body>
</html>
