<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar servicio</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/registro.css}" />
    <!-- Usar th:href para resolver la URL del CSS -->
    <script th:src="@{/js/Scripts.js}"></script>
    <!-- Usar th:src para resolver la URL del script JS -->
    <link rel="icon" href="/img/tools.svg" type="image/x-icon" />
  </head>
  <body>
    <nav th:replace="~{fragments/navbar :: nav}"></nav>

    <div style="min-height: 75vh">
      <h1 class="campo">REGISTRAR SERVICIO</h1>

      <form th:action="@{/servicio/registro}" method="POST" enctype="multipart/form-data">
        <!-- Campo oculto para el ID del proveedor -->

        <div class="campo">
          <input type="text" name="nombre" placeholder="Nombre del servicio" th:value="${nombre}" />
        </div>

        <div class="campo">
          <textarea
            style="width: 350px; height: 150px"
            name="descripcion"
            placeholder="Descripción"
            th:value="${descripcion}"></textarea>
        </div>

        <div class="campo">
          <input type="file" name="archivo" id="archivo" />
        </div>

        <div class="campo">
          <button type="submit" class="boton">Registrar Servicio</button>
        </div>
      </form>
    </div>

    <footer th:replace="~{/fragments/footer :: footer }"></footer>
  </body>
</html>
