<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de transacciones</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <script th:src="@{/js/scripts.js}"></script>
    <link rel="icon" th:href="@{/img/tools.svg}" type="image/x-icon" />

    <style>
      /*
    .tabla {
      width: 100%;
      border-spacing: 20px;
    }

    th {
      padding: 1px;
      border-bottom: 2px solid black;
    }

    td {
      text-align: center;
      height: 50px;

    }
*/
      table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 5px;
      }

      th {
        padding: 1px;
        border-bottom: 2px solid black;
      }

      td {
        text-align: center;
        height: 50px;
      }

      .size {
        width: 300px;
      }
    </style>
  </head>
  <body class="body">
    <nav th:replace="~{fragments/navbar :: nav}"></nav>

    <main>
      <div>
        <div class="encabezado">
          <a th:href="@{/}"><button>Volver</button></a>
          <div></div>
          <h1>LISTA DE TRANSACCIONES</h1>
          <div></div>
          <div style="width: 60px"></div>
        </div>

        <table class="tabla">
          <thead>
            <tr>
              <th scope="col" sec:authorize="hasRole('ADMIN')">ID</th>
              <th scope="col">Proveedor</th>
              <th scope="col">Usuario</th>
              <th scope="col">Presupuesto</th>
              <th scope="col">Estado</th>
              <th scope="col">Comentario</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody th:each="transaccion : ${transacciones}">
            <tr>
              <td scope="row" th:text="${transaccion.id}" sec:authorize="hasRole('ADMIN')"></td>
              <td scope="row" th:text="${transaccion.proveedor.usuario.nombre}"></td>
              <td scope="row" th:text="${transaccion.usuario.nombre}"></td>
              <td scope="row" th:text="${transaccion.presupuesto}"></td>
              <td scope="row" th:text="${transaccion.estado.descripcion}"></td>
              <td scope="row">
                <div th:if="${transaccion.comentario == null && transaccion.estado.descripcion != 'Cancelado'}">
                  [Trabajo en proceso]
                </div>
                <div th:if="${transaccion.comentario == null && transaccion.estado.descripcion == 'Cancelado'}">
                  [Trabajo cancelado]
                </div>
                <div th:if="${transaccion.comentario != null}" th:text="${transaccion.comentario}"></div>
              </td>
              <td scope="row">
                <div th:if="${transaccion.estado.descripcion == 'Pendiente'}">
                  <a
                    sec:authorize="hasRole('PROVEEDOR')"
                    th:href="@{/transaccion/aceptar/__${transaccion.id}__}"
                    method="POST">
                    <button>Aceptar</button>
                  </a>
                  <a
                    sec:authorize="!hasRole('ADMIN')"
                    th:href="@{/transaccion/cancelar/__${transaccion.id}__}"
                    method="POST">
                    <button>Cancelar</button>
                  </a>
                </div>

                <div th:if="${transaccion.estado.descripcion == 'Aceptado'}" sec:authorize="!hasRole('ADMIN')">
                  <a th:href="@{/transaccion/finalizar/__${transaccion.id}__}" method="POST">
                    <button>Finalizar</button>
                  </a>
                  <a th:href="@{/transaccion/cancelar/__${transaccion.id}__}" method="POST">
                    <button>Cancelar</button>
                  </a>
                </div>

                <div
                  th:if="${transaccion.comentario == null && transaccion.estado.descripcion == 'Finalizado'}"
                  sec:authorize="hasRole('USER')">
                  <a th:href="@{/transaccion/calificar/__${transaccion.id}__}" method="POST">
                    <button>Calificar</button>
                  </a>
                </div>

                <div
                  th:if="${transaccion.comentario != null && transaccion.comentario != '[El Administrador ha Censurado el Comentario]' && transaccion.estado.descripcion == 'Finalizado'}"
                  sec:authorize="hasRole('ADMIN')">
                  <a th:href="@{/transaccion/censurar/__${transaccion.id}__}" method="POST">
                    <button>Censurar Comentario</button>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer th:replace="~{/fragments/footer :: footer} "></footer>
  </body>
</html>
